span.diff_insert {
    background-color: #a0ffa0;
}

span.diff_delete {
    background-color: #FF5D2D;
}

span.diff_insert > input,
span.diff_insert > img {
    outline: #a0ffa0 solid thick;
}

span.diff_delete > input,
span.diff_delete > img {
    outline: #FF5D2D solid thick;
}

.diff-tag-change_delete {
    color: #8d2d0d;
    text-decoration: underline;
}
.diff-tag-change_insert {
    color: #239572;
    text-decoration: underline;
}

span.diff_change {
    background-color: #5095ff;
}
